{% extends 'core/base.html'%}

{%block content%}
<div class="container mt-5">
    {% for cItem in cartItems %}
    <div class="row">
      
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ cItem.product.product_image.url }}" class="card-img-top img-fluid product-image" alt="Product Image">
                <div class="card-body">
                    <h5 class="card-title">{{ cItem.product.product_name }}</h5>
                    <p class="card-text">{{ cItem.product.product_desc }}</p>
                    <p class="card-text"><strong>qauntity: {{ cItem.quantity }}</strong></p>
                    <p class="card-text"><strong>Price: {{ cItem.price }}</strong></p>
                    <div class="d-flex gap-2">
                    <form action="{% url 'RemoveItems' cItem.product.product_id %}" method="POST">
                          {% csrf_token %} 
                        <button class="btn btn-danger flex-fill" type="submit">Remove</button>
                    </form>
                  
                        <form action="{% url 'Checkout' cItem.product.product_id %}" method="POST">
                            {% csrf_token %} 
                            <button  type = "submit" class="btn btn-warning flex-fill">Buy Now</button>

                        </form>
                        <!-- Buy Now button in yellow -->
                     
                    </div>


                </div>
            </div>
        </div>
        {% endfor %}

        <h3>Total Cart price : {{total_price | floatformat:2 }}</h3>
        <a href="#" class="btn btn-success flex-fill">Place Order</a>
    </div>
</div>

{%endblock content%}