{%extends 'core/base.html' %}

{% block content %}
        <form action="" method="POST">
                {% csrf_token %}

                <div>
                    <lable>
                            username
                    </lable>
                        
                        <input type="text" name="username" >
                </div>

                <div>
                    <lable>
                            password
                    </lable>
                        
                        <input type="password" name="password">
                </div>

                <button type="submit">submit</button>

        </form>
{% endblock content %}