<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


            <form action="" method="POST" novalidators>
                {%if forms.non_field_errors%}
                        {%for error in forms.non_field_errors %}
                               <p> {{error}} </p>
                        {%endfor%}

                {%endif%}


                {% csrf_token %}
                    {%for fm in form %}
                          <p>  {{fm.label_tag}} {{fm}} {{fm.errors}} </p>

                    {%endfor%}
                    <input type="submit" name="submit">
            </form>
</body>
</html>