{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
</head>
<body>
      {%include 'core/navbar.html' %}

    {% if messages %}
            {% for msg in messages%}         
                {{msg}}
            {% endfor %}

    {%endif%}
    {% block content %}
            


    {% endblock content %}
        
    <script src="{%static 'core/js/jquery.js'%}"></script>
    <script src="{%static 'core/js/popper.js'%}"></script>
    <script src="{%static 'core/js/bootstrap.min.js'%}"></script>


    
</body>
</html>